<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.cpumonitor</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string><root_folder>/macos-cpu-monitor/run_cpu_anlayser.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string><root_folder>/macos-cpu-monitor/cpu_monitor_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string><root_folder>/macos-cpu-monitor/cpu_monitor_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string><root_folder>/macos-cpu-monitor</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>Nice</key>
    <integer>10</integer>
    
    <key>LowPriorityIO</key>
    <true/>
    
    <key>ThrottleInterval</key>
    <integer>30</integer>
    
    <key>StartInterval</key>
    <integer>30</integer>
</dict>
</plist>
